<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth page</title>
    <link rel="stylesheet" href="../../styles.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.css" integrity="sha512-j9A2LKfsPKqkj4NbtVncb6451JV3kQWoCP1Coayq04haUgIUTs3t2N0vn0kbtS7CsKVP2O9RvfQI4YYjURVxIA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script async type="module" src="../../scripts/form.js"></script>
</head>
<body>
<div id="root">
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="/" class="link link--white" title="На главную">
                    <button class="material-icons mdc-top-app-bar__home-icon mdc-icon-button">home</button>
                </a>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <a href="/" class="link link--white" id="toggleAuthForm">Регистрация</a>
            </section>
        </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">
        <form class="post-form">
            <div class="post-form-row"><label>
                <span class="post-form__label">Логин</span>
                <input class="post-form__input" name="login" type="text">
            </label>
            </div>
            <div class="post-form-row"><label>
                <span class="post-form__label">Пароль</span>
                <input class="post-form__input" name="password" type="password">
            </label>
            </div>
            <div class="post-form-row">
                <button class="mdc-button mdc-button--raised" type="submit" id="submitBtn">
                    <span class="mdc-button__label">Отправить</span>
                </button>
            </div>
        </form>
    </main>
</div>
</body>
</html>
